<%- include("header"); -%>

<h1> <%= pageTitle %> </h1>
<p><%= pageContent %> </p>

<% wholeBlog.forEach(function(i){ %>
      <h2> <a class="titleAnchor" href="/posts/<%=i._id%>"><%= i.title %> </a></h2>
      
      <%  if(i.content.length > 100) { %>
      <p><%= i.content.slice(0,100) %> ...  <a href = "/posts/<%=i._id%>">Read More</a></p> 
      <% } else { %>
            <p><%= i.content.slice(0,100) %> </p>
      <% } %>

<% }); %>

<%- include("footer"); -%>
    

