<%- include("header") -%>

<h1> <%= pageTitle %> </h1>
<p>Welcome to home! </p>

<% for(let i = 0; i < newPostTitle.length; i++){ %>
    <h2> <%= newPostTitle[i] %> </h2>
  
  <%  if(newPostContent[i].length > 100) { %>
        <p> <%= xyz[i] %> ..<a href= <%= "/" + newPostTitle[i] %>> Read more</a> </p>
  <%  } else{ %>
        <p> <%= newPostContent[i] %> </p>
   <% } %>

   
<% } %>

<%- include("footer") -%>
    

