<%- include("header") -%>

<h1> <%= pageTitle %> </h1>
<p>Welcome to home! </p>

<% wholeBlog.forEach(function(i){ %>
      <h2> <%= i.title %> </h2>
      <p><%= i.content.slice(0,100) %></p>  
<% }); %>

<%- include("footer") -%>
    

